:root {
  --main-color: #f72585;
  --black-color: #000000;
  --white-color: #ffffff;
  --gray-color: #545454;
  --bg-color-light-mode: #fbfbfb;
  --bg-color-dark-mode: #1e1e1e;
  --bg-color-section: #f8f8f8;
  --element-margin: 0 auto;
  --element-width: 80%;
}

/* Common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  font-family: 'Poppins', Arial, sans-serif;
  background-color: var(--white-color);
}
header,
.hero_header,
.about_me,
.services,
.tools,
.projects,
.testimonials,
.contact .mainfooter_content,
.subfooter_content {
  margin: var(--element-margin);
  max-width: var(--element-width);
}
main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
h2 {
  font-size: 35px;
  font-weight: 600;
}
.section_introduction {
  max-width: 900px;
  font-size: 16px;
  text-align: center;
  color: var(--gray-color);
}
.social_icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.fi {
  font-size: 25px;
  color: var(--black-color);
}
.pink {
  color: var(--main-color);
}
.big_logo {
  font-size: 40px;
}

/* Global button  */
button {
  background-color: transparent;
  border-radius: 4px;
  border: 3px solid var(--main-color);
  padding: 8px 16px;
  font-size: 16px;
  color: var(--main-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
}
button:hover,
button:active {
  background-color: var(--main-color);
  color: var(--white-color);
}

/* Navigation  */
ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--gray-color);
  font-size: 16px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
  white-space: nowrap;
}
nav ul li a:hover {
  color: var(--black-color);
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--bg-color-dark-mode);
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}
nav.fill ul li a {
  transition: all 2s;
}
nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* Hero Section */
.hero_header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
}
.hero_left {
  margin-top: 100px;

  & .hero_title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
  }
  & h3 {
    font-size: 25px;
    font-weight: 500;
  }
  & h1 {
    font-size: 55px;
    font-weight: 800;
  }
  & .hero_description {
    font-size: 16px;
    margin-bottom: 30px;
    color: var(--gray-color);
  }
}
.hero_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  & .hero_image {
    border-radius: 30px;
    width: 300px;
    height: 500px;
  }
}

/* About Me Section */
.about_me {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
}
.about_left {
  & .about_image {
    border-radius: 30px;
    width: 300px;
    height: 500px;
  }
}
.about_right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  & .about_description p {
    font-size: 16px;
    color: var(--gray-color);
  }
  & .services_image {
    width: 550px;
    height: 250px;
  }
}

/* Services Section */
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.services_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.box {
  background-color: var(--bg-color-section);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.1),
    0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

/* Tools */
.tools-logo-listing-wrap {
  display: flex;
  align-items: center;
}
.infiniteslide_wrap {
  overflow: hidden;
}
.tools-logo-listing {
  display: flex;
  gap: 80px;
  width: calc(100px * 20 + 50px);
  animation: infiniteSlide 30s linear infinite;
}
.logo-wrap {
  flex: 0 0 auto;
  display: block;
  text-align: center;
  & img {
    width: 100px;
    height: 100px;
  }
}
.tools_title_wrap {
  background-color: var(--main-color);
  padding: 55px 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 5px;
  & .tools_title {
    font-size: 25px;
    color: var(--white-color);
  }
}
@keyframes infiniteSlide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Projects Section  */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.projects_categories {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.btn_category {
  background-color: var(--bg-color-section);
  color: var(--black-color);
  border: 0.5px solid var(--gray-color);
}
.btn_category:hover,
.btn_category:active {
  border: 0.5px solid var(--main-color);
}
.btn_category.active {
  background-color: var(--main-color);
  color: var(--white-color);
  border: 0.5px solid var(--main-color);
}
.projects_display {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}
.project_wrapper {
  background-color: var(--bg-color-section);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  & img {
    width: 100%;
    height: 230px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  & .project_description {
    padding: 10px;
    & h4 {
      font-size: 16px;
      color: var(--black-color);
      font-weight: 400px;
    }
    & p {
      font-size: 15px;
      color: var(--gray-color);
    }
  }
}
.project_wrapper:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.1),
    0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

/* Testimonials Section */
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.testimonials_container {
  min-height: 350px;
}
.testimonial_wrapper {
  max-width: 1000px;
  background-color: var(--bg-color-section);
  border-radius: 4px;
  padding: 20px;

  & img {
    border-radius: 50%;
  }
}
.testimonial_wrapper:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.1),
    0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.testimonial_wrapper.active {
  display: block;
}
.testimonial_wrapper.hidden {
  display: none;
}
.testimonial_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.testimonial_description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  & q {
    font-weight: 700;
  }
  & span {
    color: var(--gray-color);
    font-weight: 400;
  }
}
.testimonial_stepper {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.step {
  width: 50px;
  height: 10px;
  border-radius: 30px;
  background-color: var(--gray-color);
  cursor: pointer;
}
.step.active {
  background-color: var(--main-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.1),
    0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

/* Contact Section */
.contact {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  align-self: center;
  margin-bottom: 100px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  & form label {
    color: var(--gray-color);
  }
}
.input_wrapper {
  width: 650px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.form_input {
  width: 550px;
  padding: 12px 16px;
}
.form_input::placeholder,
textarea::placeholder {
  font-family: 'Poppins', Arial, sans-serif;
}
textarea {
  height: 140px;
  padding: 5px;
}

/* Footer */
.mainfooter {
  background-color: var(--bg-color-section);
}
.mainfooter_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 80px 0 30px;
}
.subfooter {
  display: flex;
  background-color: var(--gray-color);
  padding: 20px 0;
  color: var(--white-color);
}

/* Light/Dark mode button  */
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: var(--main-color);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: var(--white-color);
}

.fa-sun {
  color: var(--white-color);
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

/* Dark mode styles */
body.dark {
  background-color: var(--bg-color-dark-mode);
}

/* Common styles */
.dark h2 {
  color: var(--white-color);
}
.dark .section_introduction {
  color: var(--white-color);
}
.dark .social_icons .fi {
  font-size: 25px;
  color: var(--white-color);
}
.dark .pink {
  color: var(--main-color);
}

/* Dark navigation  */
.dark a {
  color: var(--bg-color-section);
}
.dark nav ul li a:hover {
  color: var(--white-color);
}
.dark nav.stroke ul li a:after,
.dark nav.fill ul li a:after {
  background: var(--bg-color-section);
}

.dark nav.fill ul li a:hover {
  color: var(--white-color);
}

/* Dark Hero Section */
.dark h3 {
  color: var(--white-color);
}
.dark h1 {
  color: var(--white-color);
}
.dark .hero_description {
  color: var(--white-color);
}

/* Dark About Me Section */

.dark .about_description p {
  color: var(--white-color);
}

/* Dark Tools */
.dark .tools-logo-listing-wrap {
  background-color: var(--gray-color);
}
.dark .logo-wrap h4 {
  color: var(--white-color);
}

/* Dark Contact Section */

.dark form label {
  color: var(--white-color);
}

/* Footer */
.dark .mainfooter {
  background-color: var(--bg-color-dark-mode);
}
.dark .subfooter {
  background-color: var(--black-color);
}

/* Tablet styles */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Common styles */
  header,
  .hero_header,
  .about_me,
  .services,
  .tools,
  .projects,
  .testimonials,
  .contact,
  .mainfooter_content,
  .subfooter_content {
    max-width: 90%;
  }

  h2 {
    font-size: 35px;
    font-weight: 600;
  }
  .section_introduction {
    width: 600px;
  }

  /* Navigation */
  header {
    position: relative;
  }
  ul {
    order: 3;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .logo {
    order: 1;
  }
  .light_dark_btn {
    order: 2;
    position: absolute;
    top: 40px;
    right: 0;
  }

  /* Hero Section */
  .hero_header {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .hero_right {
    order: 1;
    margin-top: 50px;
    display: flex;
    align-items: end;
  }
  .hero_right .hero_image {
    width: 300px;
    height: 400px;
  }
  .hero_right .social_icons {
    display: none;
  }
  .hero_left {
    order: 2;
    margin-top: -200px;
  }
  .hero_title {
    width: 400px;
  }

  .hero_left h3 {
    font-size: 20px;
  }
  .hero_left h1 {
    font-size: 40px;
  }
  .hero_description p {
    line-height: 30px;
  }

  /* About Me Section */
  .about_me {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .about_left {
    margin: 0 auto;
    & .about_image {
      border-radius: 30px;
      width: 300px;
      height: 450px;
    }
  }
  .about_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    & .about_description p {
      line-height: 30px;
      text-align: center;
    }
    & .services_image {
      width: 550px;
      height: 250px;
    }
  }
  /* Services Section */
  .services_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }

  /* Tools */
  .tools-logo-listing {
    display: flex;
    gap: 50px;
    width: calc(80px * 20 + 50px);
    animation: infiniteSlide 20s linear infinite;
  }
  .logo-wrap {
    & img {
      width: 80px;
      height: 80px;
    }
  }
  .tools_title_wrap {
    padding: 45px 25px;
  }

  /* Projects Section  */
  .projects_display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
  }

  /* Testimonials Section */
  .testimonials_container {
    min-height: 500px;
  }
  .testimonial_wrapper {
    max-width: 600px;
    padding: 20px;
  }
  .testimonial_content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  /* Contact Section */
  form {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    & form label {
      font-size: 16px;
    }
  }
  .input_wrapper {
    width: 550px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
  .form_input {
    width: 450px;
    padding: 10px 14px;
  }

  /* Footer */
  .mainfooter .logo {
    order: 1;
  }
  .mainfooter nav {
    order: 2;
  }
  .mainfooter .social_icons {
    order: 3;
  }
}
/* Mobile styles */
@media only screen and (max-width: 600px) {
  header,
  .hero_header,
  .about_me,
  .services,
  .tools,
  .projects,
  .testimonials,
  .contact,
  .mainfooter_content,
  .subfooter_content {
    max-width: 90%;
  }

  h2 {
    font-size: 25px;
    font-weight: 600;
  }

  /* Navigation */
  header {
    position: relative;
  }
  ul {
    order: 3;
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .logo {
    order: 1;
  }
  .light_dark_btn {
    order: 2;
    position: absolute;
    top: 40px;
    right: 0;
  }

  /* Hero Section */
  .hero_header {
    display: flex;
    flex-direction: column;
  }
  .hero_right,
  .hero_right .hero_image,
  .hero_right .social_icons {
    display: none;
  }
  .hero_left {
    order: 1;
  }
  .hero_title {
    width: 300px;
  }

  .hero_left h3 {
    font-size: 20px;
  }
  .hero_left h1 {
    font-size: 40px;
  }
  .hero_description p {
    line-height: 25px;
  }

  /* About Me Section */
  .about_me {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .about_left {
    margin: 0 auto;
    & .about_image {
      width: 250px;
      height: 400px;
    }
  }
  .about_right {
    align-items: center;
    & .about_description p {
      line-height: 25px;
      text-align: center;
    }
    & .services_image {
      width: auto;
      height: auto;
    }
  }
  /* Services Section */
  .services_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .box {
    align-items: center;
  }

  /* Tools */
  .tools-logo-listing {
    display: flex;
    gap: 30px;
    width: calc(50px * 20 + 50px);
    animation: infiniteSlide 20s linear infinite;
  }
  .logo-wrap {
    & img {
      width: 50px;
      height: 50px;
    }
    & h4 {
      font-size: 13px;
    }
  }
  .tools_title_wrap {
    padding: 35px 15px;
    & .tools_title {
      font-size: 16px;
    }
  }

  /* Projects Section  */
  .projects_categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
  .projects_display {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 50px;
  }

  /* Testimonials Section */
  .testimonial_wrapper {
    padding: 10px;
  }
  .testimonial_content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  /* Contact Section */
  form {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
  }
  .input_wrapper {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
  .input_wrapper label {
    display: none;
  }
  .form_input {
    padding: 8px 10px;
  }

  /* Footer */
  .mainfooter .logo {
    order: 1;
  }
  .mainfooter nav {
    order: 2;
  }
  .mainfooter .social_icons {
    order: 3;
  }

  .subfooter {
    padding: 10px 0;
    & .subfooter p {
      font-size: 12px;
    }
  }
}
