:root {
  --main-color: #f72585;
  --black-color: #000000;
  --white-color: #ffffff;
  --gray-color: #545454;
  --bg-color-light-mode: #fbfbfb;
  --bg-color-dark-mode: #1e1e1e;
  --bg-color-section: #f8f8f8;
  --element-margin: 0 auto;
  --element-width: 80%;
}

/* Common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  font-family: 'Poppins', Arial, sans-serif;
  background-color: var(--white-color);
}
nav,
main,
.mainfooter_content,
.subfooter_content {
  margin: var(--element-margin);
  max-width: var(--element-width);
}
main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
aside {
  max-width: 600px;
}
h2 {
  font-size: 35px;
  font-weight: 600;
}
.section_introduction {
  max-width: 800px;
  font-size: 16px;
  text-align: center;
  color: var(--gray-color);
}
.social_icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.fi {
  font-size: 25px;
  color: var(--black-color);
}
.pink {
  color: var(--main-color);
}
.big_logo {
  font-size: 40px;
}

/* Global button  */
button {
  background-color: transparent;
  border-radius: 4px;
  border: 3px solid var(--main-color);
  padding: 8px 16px;
  font-size: 16px;
  color: var(--main-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}
button:hover,
button:active {
  background-color: var(--main-color);
  color: var(--white-color);
}

/* Navigation  */
ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--gray-color);
  font-size: 16px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: var(--black-color);
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--bg-color-dark-mode);
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}
nav.fill ul li a {
  transition: all 2s;
}
nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
.fi-rr-download {
  font-size: 16px;
  color: var(--white-color);
}

/* Hero Section */
.hero_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
.hero_left {
  margin-top: 100px;

  & .hero_title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
  }
  & h3 {
    font-size: 25px;
    font-weight: 500;
  }
  & h1 {
    font-size: 55px;
    font-weight: 800;
  }
  & .hero_description {
    font-size: 16px;
    margin-bottom: 30px;
    color: var(--gray-color);
  }
}
.hero_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  & .hero_image {
    border-radius: 30px;
  }
}

/* About Me Section */
.about_me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
.about_left {
  & .about_image {
    border-radius: 30px;
  }
}
.about_right {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  & .about_description {
    font-size: 16px;
    color: var(--gray-color);
  }
}

/* Services Section */
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.services_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.box {
  background-color: var(--bg-color-section);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.1),
    0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

/* Tools */
.tools-logo-listing-wrap {
  display: flex;
  align-items: center;
}
.infiniteslide_wrap {
  overflow: hidden;
}
.tools-logo-listing {
  display: flex;
  gap: 80px;
  width: calc(100px * 20 + 50px);
  animation: infiniteSlide 30s linear infinite;
}
.logo-wrap {
  flex: 0 0 auto;
  display: block;
  text-align: center;
  & img {
    width: 100px;
    height: 100px;
  }
}
.tools_title_wrap {
  background-color: var(--main-color);
  padding: 55px 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 5px;
  & .tools_title {
    font-size: 25px;
    color: var(--white-color);
  }
}
@keyframes infiniteSlide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Projects Section  */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.projects_categories {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.btn_category {
  background-color: var(--bg-color-section);
  color: var(--black-color);
  border: 0.5px solid var(--gray-color);
}
.btn_category:hover,
.btn_category:active {
  border: 0.5px solid var(--main-color);
}
.btn_category.active {
  background-color: var(--main-color);
  color: var(--white-color);
  border: 0.5px solid var(--main-color);
}
.projects_display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 50px;
}
.project_wrapper {
  background-color: var(--bg-color-section);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  & img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  & .project_description {
    padding: 10px;
    & h4 {
      font-size: 16px;
      color: var(--black-color);
      font-weight: 400px;
    }
    & p {
      font-size: 16px;
      color: var(--gray-color);
    }
  }
}
.project_wrapper:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.1),
    0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

/* Testimonials Section */
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.testimonials_container {
  min-height: 350px;
}
.testimonial_wrapper {
  max-width: 1000px;
  background-color: var(--bg-color-section);
  border-radius: 4px;
  padding: 20px;

  & img {
    border-radius: 50%;
  }
}
.testimonial_wrapper:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.1),
    0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.testimonial_wrapper.active {
  display: block;
}
.testimonial_wrapper.hidden {
  display: none;
}
.testimonial_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.testimonial_description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  & q {
    font-weight: 700;
  }
  & span {
    color: var(--gray-color);
    font-weight: 400;
  }
}
.testimonial_stepper {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.step {
  width: 50px;
  height: 10px;
  border-radius: 30px;
  background-color: var(--gray-color);
  cursor: pointer;
}
.step.active {
  background-color: var(--main-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.1),
    0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

/* Contact Section */
.contact {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  align-self: center;
  margin-bottom: 100px;
}
form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 30px;

  & input[type='email'] {
    max-width: 400px;
    padding: 10px 16px;
  }
}
input[type='email'] {
  width: 500px;
  padding: 12px 16px;
}
input[type='email']::placeholder {
  font-family: 'Poppins', Arial, sans-serif;
}

/* Footer */
.mainfooter {
  background-color: var(--bg-color-section);
}
.mainfooter_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 80px 0 30px;
}
.subfooter {
  display: flex;
  background-color: var(--gray-color);
  padding: 20px 0;
  color: var(--white-color);
}
